{% extends 'base.html' %}

{% block title %} contact-us {% endblock %}

{% block content %}
<div class="banner-section">
    <div class="container">
        <div class="page-title">
            <div class="page-title-inner">
                <div class="breadcrumbs text-left">
                    <div class="breadcrumbs-wrap">
                        <h1 class="title">contact</h1>
                        <ul class="breadcrumbs-inner">
                            <li><a href="#">home</a></li>
                            <li><a href="#">pages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- banner-section -->
<div class="flat-row-half">
    <div class="container">
        <div class="flat-map">    

        </div><!-- flat-map -->
    </div>
</div><!-- flat-row -->
<div class="contact-section contact-style4 contact-transform mg-change-66">
    <div class="container">
        <div class="contact-inside d-lg-flex">
            <div class="col-left">
                <div class="contact-us contact-style">
                    <div class="title-section">
                        <h2 class="flat-title shape-image">Contact Us</h2>
                    </div>
                    <ul class="contact-options">
                        <li class="contact-box">
                            <div class="icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="content-info">
                                <h3 class="ct-by">Phone</h3>
                                <div class="description">
                                    <p>+0092 796 568 124</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact-box">
                            <div class="icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i> 
                            </div>
                            <div class="content-info">
                                <h3 class="ct-by">Email</h3>
                                <div class="description">
                                    <p>support24@gmail.com</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact-box">
                            <div class="icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="content-info">
                                <h3 class="ct-by">Address</h3>
                                <div class="description">
                                    <p>839 Plymouth Rd.</p>
                                    <p>Tampa, FL 33604</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-right">
                <form id="contactform" action="./contact/contact-process.php" method="post" class="form-contact form-submit">
                    <div class="text-wrap d-sm-flex clearfix">
                        <div class="w-left">
                            <input type="text" name="name" id="name" value="" class="name" placeholder="Name:">
                        </div>
                        <div class="w-right">
                            <input type="text" name="email" id="email" value="" class="email" placeholder="Email:">
                        </div>
                    </div>
                    <div class="text-wrap d-sm-flex clearfix">
                        <div class="w-left">
                            <input type="text" name="subject" id="subject" value="" class="subject" placeholder="Subject:">
                        </div>
                        <div class="w-right">
                            <input type="text" name="phone" id="phone" value="" class="phone" placeholder="Phone:">
                        </div>
                    </div>
                    <div class="message-wrap">
                        <textarea name="message" id="comment-message" rows="8" placeholder="Message" required="required"></textarea>
                    </div>
                    <div class="fl-btn btn-linear linear-color-one">
                        <button name="submit" type="submit" class="submit btn-contact hv-linear border-corner" id="submit">contact today</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- contact-section -->
<div class="footer-background background-empty">
    <footer id="footer" class="footer">
        <div class="container">
            <div class="partners">
                <div class="banners-z">
                    <div class="flat-carousel-box data-effect clearfix" data-zero="0" data-gap="70" data-column="6" data-column2="5" data-column3="4" data-column4="2" data-dots="false" data-auto="true" data-nav="false" data-loop="true">
                        <div class="owl-carousel">
                            <img src="{{ url_for('static', filename='images/partners/01.png') }}" alt="images">
                            <img src="{{ url_for('static', filename='images/partners/02.png') }}" alt="images">
                            <img src="{{ url_for('static', filename='images/partners/03.png') }}" alt="images">
                            <img src="{{ url_for('static', filename='images/partners/04.png') }}" alt="images">
                            <img src="{{ url_for('static', filename='images/partners/05.png') }}" alt="images">
                            <img src="{{ url_for('static', filename='images/partners/06.png') }}" alt="images">                       
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}