{% extends 'base.html' %}

{% block title %} services {% endblock %}

{% block content %}

<div class="banner-section">
    <div class="container">
        <div class="page-title">
            <div class="page-title-inner">
                <div class="breadcrumbs text-left">
                    <div class="breadcrumbs-wrap">
                        <h1 class="title">services</h1>
                        <ul class="breadcrumbs-inner">
                            <li><a href="#">home</a></li>
                            <li><a href="#">services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- banner-section -->
<div class="flat-services flat-row clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="services-box services-box-type1">
                    <div class="snow-dot"></div>
                    <div class="iconbox-icon">
                        <div class="icon-wrap">
                            <span class="icon-analysis"></span>
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <h3 class="title">Digital Marketing</h3>
                        <p class="description">
                            Volupta esse cllum doloe nulla pariat secepteur sint esse cllum doloe occaec officia deserunt.
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                    <div class="rectangle-1"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="services-box services-box-type1">
                    <div class="snow-dot"></div>
                    <div class="iconbox-icon">
                        <div class="icon-wrap">
                            <span class="icon-tax"></span>
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <h3 class="title">Web Analysis</h3>
                        <p class="description">
                            Volupta esse cllum doloe nulla pariat secepteur sint esse cllum doloe occaec officia deserunt.
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                    <div class="rectangle-1"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="services-box services-box-type1">
                    <div class="snow-dot"></div>
                    <div class="iconbox-icon">
                        <div class="icon-wrap">
                            <span class="icon-connection"></span>
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <h3 class="title">Market Analysis</h3>
                        <p class="description">
                            Volupta esse cllum doloe nulla pariat secepteur sint esse cllum doloe occaec officia deserunt.
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                    <div class="rectangle-1"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="services-box services-box-type1">
                    <div class="snow-dot"></div>
                    <div class="iconbox-icon">
                        <div class="icon-wrap">
                            <span class="icon-analysis"></span>
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <h3 class="title">Brand Identity</h3>
                        <p class="description">
                            Volupta esse cllum doloe nulla pariat secepteur sint esse cllum doloe occaec officia deserunt.
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                    <div class="rectangle-1"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="services-box services-box-type1">
                    <div class="snow-dot"></div>
                    <div class="iconbox-icon">
                        <div class="icon-wrap">
                            <span class="icon-analysis"></span>
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <h3 class="title">Brand Identity</h3>
                        <p class="description">
                            Volupta esse cllum doloe nulla pariat secepteur sint esse cllum doloe occaec officia deserunt.
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                    <div class="rectangle-1"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="services-box services-box-type1">
                    <div class="snow-dot"></div>
                    <div class="iconbox-icon">
                        <div class="icon-wrap">
                            <span class="icon-tax"></span>
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <h3 class="title">Financial Service</h3>
                        <p class="description">
                            Volupta esse cllum doloe nulla pariat secepteur sint esse cllum doloe occaec officia deserunt.
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                    <div class="rectangle-1"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="services-box services-box-type1">
                    <div class="snow-dot"></div>
                    <div class="iconbox-icon">
                        <div class="icon-wrap">
                            <span class="icon-connection"></span>
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <h3 class="title">Consulting</h3>
                        <p class="description">
                            Volupta esse cllum doloe nulla pariat secepteur sint esse cllum doloe occaec officia deserunt.
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                    <div class="rectangle-1"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="services-box services-box-type1">
                    <div class="snow-dot"></div>
                    <div class="iconbox-icon">
                        <div class="icon-wrap">
                            <span class="icon-tax"></span>
                        </div>
                    </div>
                    <div class="iconbox-content">
                        <h3 class="title">SEO Marketing</h3>
                        <p class="description">
                            Volupta esse cllum doloe nulla pariat secepteur sint esse cllum doloe occaec officia deserunt.
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                    <div class="rectangle-1"></div>
                    <div class="rectangle-2"></div>
                    <div class="rectangle-3"></div>
                </div>
            </div>
        </div>
        <div class="fl-btn btn-linear linear-color-one mg-50 text-center">
            <a href="#" class="btn-send hv-linear border-corner">other services</a>
        </div>
    </div>
</div><!-- services -->
<div class="faq faq-style3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="featured-post">
                    <div class="entry-image">
                        <img src="{{ url_for('static', filename='images/faq/01.png') }}" alt="images">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="title-section">
                    <p class="sub-heading color-two">FAQ</p>
                    <h2 class="flat-title shape-image">Frequently Asekd Question</h2>
                </div>
                <div class="flat-question">
                    <div class="accordion">
                        <div class="accordion-toggle active">
                            <div class="toggle-title active">01. How much does it cost?</div>
                            <div class="toggle-content">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt deserunt.
                            </div>
                            <div class="rectangle-1"></div>
                            <div class="rectangle-2"></div>
                            <div class="rectangle-3"></div>
                        </div>
                        <div class="accordion-toggle">
                            <div class="toggle-title">02. How much does it cost?</div>
                            <div class="toggle-content">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt deserunt.
                            </div>
                            <div class="rectangle-1"></div>
                            <div class="rectangle-2"></div>
                            <div class="rectangle-3"></div>
                        </div>
                        <div class="accordion-toggle">
                            <div class="toggle-title">03. How much does it cost?</div>
                            <div class="toggle-content">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt deserunt.
                            </div>
                            <div class="rectangle-1"></div>
                            <div class="rectangle-2"></div>
                            <div class="rectangle-3"></div>
                        </div>
                        <div class="accordion-toggle">
                            <div class="toggle-title">04. How much does it cost?</div>
                            <div class="toggle-content">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident sunt deserunt.
                            </div>
                            <div class="rectangle-1"></div>
                            <div class="rectangle-2"></div>
                            <div class="rectangle-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- faq -->
<div class="footer-background">
    <footer id="footer" class="footer">
        <div class="container">
            <div class="partners">
                <div class="banners-z">
                    <div class="flat-carousel-box data-effect clearfix" data-zero="0" data-gap="70" data-column="6" data-column2="5" data-column3="4" data-column4="2" data-dots="false" data-auto="true" data-nav="false" data-loop="true">
                        <div class="owl-carousel">
                            <img src="{{ url_for('static', filename='images/partners/01.png') }}" alt="images">
                            <img src="{{ url_for('static', filename='images/partners/02.png') }}" alt="images">
                            <img src="{{ url_for('static', filename='images/partners/03.png') }}" alt="images">
                            <img src="{{ url_for('static', filename='images/partners/04.png') }}" alt="images">
                            <img src="{{ url_for('static', filename='images/partners/05.png') }}" alt="images">
                            <img src="{{ url_for('static', filename='images/partners/06.png') }}" alt="images">                        
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}